node_modules
.env
./dist
/extensions/*
themes
.idea/*
.evershop
.vscode
npm-debug.log
/package-log.json
/media
/public
.DS_Store
.log
coverage
cypress
/config
.prettierignore
.prettierrc
mysqlToPostgres.js

# project
output.json
archive/
test/__pycache__
test/admin/__pycache__
packages/evershop/src/modules/catalog/bootstrap.js
package-lock.json


